.table1 {
  border: 4px solid #999;
  padding: 10px 10px 100px 10px;
  margin: 15%;
  max-width: 100%;
}

.th1 {
  display: inline-block;
  width: 50px;
  height: 80px;
  box-shadow: inset 0 0 3px 1px #333;
  border-radius: 5px;

}

.th--red {
  background-color: red;
}

.th--orange {
  background-color: orange;
}

.th--green {
  background-color: green;
  position: relative;
  top: 10px;
}

.th--blue {
  background-color: blue;
}

.th--purple {
  background-color: purple;
}

