
.flexbox {
  /* flex работает как block, а inline-flex как строка */
    display: flex;
  /* Перенос на следующую строку (def: nowrap) */
    flex-wrap: wrap;

  /* расположение элементов (def: row) */
  /* row-reverse - в строку в обратном порядке */
  /* column - по вертикали */
    flex-direction: column;
  
  /* Расположение контента (def: flex-start) */
    /* space-evenly - равные отступы от всего */
    /* space-around - пространство вокуруг элемнта */
    /* (!T1!) space-between - пространство между элемнтами (!T1!) */
    justify-content: space-between;

  /* Выравнивание по второстепенной оси (def: stretch) */
    align-items: center;
}

.flexbox__item {
  background: slateblue;
  padding: 10px;
}

/* Обращение к первому наследнику */
.flexbox__item:first-child {
  order: 3;
  align-self: self-end;
}

/* Обращение к любому наследнику по очередности */
.flexbox__item:nth-child(2) {
  /* Перемещеие элемента в очереди */
  order: 2;

  /* Выравнивание по вретикали, но в самих элементах */
  align-self: center;

  /* flex: flex-grow flex-shrink flex-basis */
  flex: 1 0 200px;

    /* При 1 заполняет все свободное пространство */
    flex-grow: 1;
    /* насколько сжимается при недостатке места в контейнере */
    flex-shrink: 0;
    /* Дефолтная ширина элементов (Работает также на child) */
    flex-basis: 20%;
}

.flexbox__item:nth-child(3) {
  order: 1;
  align-self: self-start;
  width: calc(100% - 20px)
}



.flexbox__item-content {
  background: midnightblue;
  min-width: 50px;
  min-height: 50px;

  line-height: 50px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-align: center;
}