table {
  border: 4px solid #999;
  border-spacing: 0;
  padding: 0 0 200px 0;
}

th {
  width: 50px;
  height: 80px;
  box-shadow: inset 0 0 3px 1px #333;
  border-radius: 5px;

}

.th--red {
  background-color: red;
}

.th--orange {
  background-color: orange;
}

.th--green {
  background-color: green;
}

.th--blue {
  background-color: blue;
}

.th--purple {
  background-color: purple;
}