@font-face {
    font-family: 'R';
    font-weight: 100;
    font-style: normal;
    src:
        url('/fonts/R-Regular.woff2') format('woff2'),
        url('/fonts/R-Regular.woff') format('woff');
    font-display: swap;
}